div(class="header")
	div(id="PaintingsHeaderButton")
		| Paintings
	div(id="ParticipantsHeaderButton")
		| Participants
	div(id="SettingsHeaderButton")
		| Settings
	div(id="AddLotHeaderButton")
		| Add a lot
