<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Records in Tetris</title>
    <link rel="stylesheet" type="text/css" href="/css/recordsTable.css">
    <link rel="stylesheet" type="text/css" href="/css/recordsButtons.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="record_table_header">Top Tetris Scorers</h1>
    <table class="zigzag_record_table">
        <thead>
        <tr>
            <th class="header">Player</th>
            <th class="header">Score</th>
        </tr>
        </thead>
    </table>

    <div class="record_table_next_action">
        <button class="record_table_btn" id="r_btn_1">Replay</button>
        <button class="record_table_btn" id="r_btn_2">Login</button>
    </div>

    <script src="/js/recordsTable.js" defer></script>
    <script src="/js/login.js" defer></script>
</body>
</html>
