html
	link(rel='stylesheet' type='text/css' media='screen' href='/css/books-page.css')
head
	meta(charset="utf-8")
	title List of books
	link(rel='stylesheet' href="https://www.w3schools.com/w3css/4/w3.css")
body
	h1(class="w3-center")
		|Electronic home library
	div(class="w3-container")
		p
			label Filter:&nbsp;&nbsp;
			input(class="w3-radio" type="radio" name="filter" onClick=`updateTable()` value="none" checked)
			label &nbsp; None &nbsp;
			input(class="w3-radio" type="radio" name="filter" onClick=`updateTable()` value="inStock")
			label &nbsp; In stock &nbsp;
			input(class="w3-radio" type="radio" name="filter" onClick=`updateTable()` value="inUse")
			label &nbsp; In use &nbsp;
			input(class="w3-radio" type="radio" name="filter" onClick=`updateTable()` value="outdated")
			label &nbsp; Outdated &nbsp;
			div(class='btn-fun-div')
				label(class="book-return-label") &nbsp; Before date: &nbsp;
				input#start(type='date' class='book-return-date' name='book-return-form' value='2020-09-13')
				button(class="w3-button w3-green w3-hover-pale-green w3-right" onClick=`toggleAddModalWindow()`) Add book
				button(class="w3-button w3-green w3-hover-pale-green" onClick=`filterByDate()`) Filter
	p
		include table
	include add-modal
	include book-card
	include give-modal
	script(src="/js/books-page.js")