doctype html
html
	link(rel='stylesheet' type='text/css' media='screen' href='/css/welcome-screen.css')
	link(rel='stylesheet' type='text/css' media='screen' href='/css/enter-btn.css')
	link(rel='stylesheet' type='text/css' media='screen' href='/css/welcome-text.css')
	head
		meta(charset="utf-8")
		//- link(rel='shortcut icon' type='image/png' href='/src/img/favicon.ico')
		title Home Library
	body
		.perspective-text
			.perspective-line
				p
				p Welcome
			.perspective-line
				p Welcome
				p to the home
			.perspective-line
				p to the home
				p electronic
			.perspective-line
				p electronic
				p library
			.perspective-line
				p library
				p
		#container
			a(href="/authorization")
				button.learn-more
					span.circle(aria-hidden='true')
						span.icon.arrow
					span.button-text Open library
